* {
  box-sizing: border-box;
  color: #333;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label > input,
select {
  margin-left: 15px;
  width: 200px;
}

.header {
  text-align: center;
}

.search-box {
  width: 50%;
  margin: 0 auto;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.place-container {
  border: 1px solid black;
  border-radius: 7%;
  padding: 8px;
  margin: 5px;
}

.place-logo > img {
  width: 125px;
  height: 125px;
}

.place-logo:hover,
.place-details:hover {
  cursor: pointer;
}

.embed-map > iframe {
  width: 400px;
  height: 300px;
  border: 0;
}
